			#navigation_main {
				height: 50px;
				background-color: #fff;
				margin: 0 auto;
			}
			.weixin-weibo-all {
				width: 352px;
				height: 30px;
				background: #292929;
				float: right;
			}
			#detailed_box1 {
				display: none;
				height: 210px;
				position: absolute;
				top: 248px;
				z-index: 2;
				opacity: 0;
			}
			#detailed2_box1 {
				display: none;
				height: 400px;
				position: absolute;
				top: 248px;
				z-index: 2;
				opacity: 0;

			}
			#detailed3_box1 {
				display: none;
				height: 400px;
				position: absolute;
				top: 248px;
				z-index: 2;
				opacity: 0;
			}
			.goods-list-all{
				width: 75%;
				margin: 0 auto;
			}
			.goods-content{
				background: #fff;
				overflow: hidden;
				width: 100%;
			}
			.little-nav{
				width: 100%;
				padding: 0 10% ;
				border-top: 1px solid #E5E5E6;
			}
			.little-nav a{
				display: block;
				color: #C0C9D9;
				float: left;
				padding: 0px 4px;
				line-height: 60px;
			}
			.little-nav span{
				display: block;
				color: #C0C9D9;
				float: left;
				padding: 0px 4px;
				line-height: 60px;
			}
			.goods-list-bunner{
				margin-bottom: 10px;
			}
			.goods-list-bunner img{
				width: 100%;
			}
			.goods-show-box{
				width: 100%;
				margin-bottom: 10px;
			}
			.left-filter{
				width: 18%;
				overflow: hidden;
				float: left;
				margin-left: 10%;
			}
			i {
				display: inline-block;
				vertical-align: middle;
				border-top: 6px solid #535355;
				border-bottom: 0 none;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				float: right;
				transform: rotate(0deg);
				transform-origin: center center;
				transform: transform 0.8s ease-in 0s;
				-webkit-transform: rotate(0deg);
				-webkit-transform-origin: center center;
				-webkit-transition: transform 0.3s ease-in 0s;
				margin-top: 4px;
			}
			.right-goods-show{
				width: 72%;
				float: left;
				margin-top: 55px;
			}
			.right-goods-show1{
				width: 72%;
				float: right;
				margin-top: 55px;
			}
				a{
							text-decoration: none;
						}
						body{
							margin: 0 auto;
							background: #292929;
							min-width: 1280px;
						}
						.search_box {
			    background: #202020 url(../images/search_logo.png) no-repeat right;
			    border: 1px solid #fff;
			    width: 200px;
			    height: 30px;
			    text-indent: 8px;
					color: #fff;
			}
							#footer{
								width: 100%;
								height: 650px;
								background-color: #292929;
								position:relative;
								margin: 0;
							}
							#footer_box{
								height: 650px;
								background-color: #fff;
								margin: auto;  
								position: absolute;
								top: 0; left: 0; bottom: 0; right: 0;
							}
							#footer_box_img{
								width: 1280px;
								height: 170px;
								background-color: #292929;
							}
							#footer_box_img #img1{
								width: 170px;
								height: 65px;
								background-color: #999;
								margin-left: 150px;
								float: left;
								padding-top: 105px;
								text-align: center;
								color: #fff;
								background: url(images/lock_icon_primary.png) no-repeat center 40px;
							}
							#footer_box_img #img2{
								width: 170px;
								height: 65px;
								background-color: #999;
								margin-left: 100px;
								margin-right: 50px;
								float: left;
								padding-top: 105px;
								text-align: center;
								color: #fff;
								background: url(images/shipping_icon_primary.png) no-repeat center 40px;
							}
							#footer_box_img #img3{
								width: 170px;
								height: 65px;
								background-color: #999;
								margin-left: 50px;
								margin-right: 100px;
								float: left;
								padding-top: 105px;
								text-align: center;
								color: #fff;
								background: url(images/gift_icon_primary.png) no-repeat center 40px;
							}
							#footer_box_img #img4{
								width: 170px;
								height: 65px;
								background-color: #999;
								margin-right: 150px;
								float: left;
								padding-top: 105px;
								text-align: center;
								color: #fff;
								background: url(images/loyalty_point_icon_primary.png) no-repeat center 40px;
							}
							#footer_box_mailbox{
								width: 1280px;
								height: 325px;
								/*background-color: #ccc;*/
							}
							#footer_box_mailbox1{
								width: 1000px;
								height: 125px;
								margin-left: 110px;
								margin-right: 170px;
								/*background-color: #666;*/
							}
							#footer_box_mailbox1 #text1{
								width: 1000px;
								height: 30px;
								color: #535355;
								padding-top: 35px;
								/*background-color: #333;*/
							}
							#footer_box_mailbox1 #text1 span{
								font-size: 20px;
								color: #f00;
							}
							#footer_box_mailbox1 #text_input{
								width: 1000px;
								height: 60px;
								/*background-color: #999;*/
							}
							#footer_box_mailbox1 #text_input #input1{
								width: 223px;
								height: 30px;
								border: 1px solid #000;
								padding-left: 5px;
							}
							#footer_box_mailbox1 #text_input #input3{
								position: absolute;
								top: 238px;
								left: 315px;
								z-index: 1;
							}
							#footer_box_mailbox1 #text_input #input2{
								vertical-align: middle;
								width: 15px;
								height: 15px;
								padding-top: 10px;
								border: 10px solid #000;
							}
							#footer_box_mailbox1 #text_input input::-webkit-input-placeholder{
								color: #000;
							}
							#footer_box_mailbox1 #text_input span{
								font-size: 10px;
								color: #f00;
							}
							#footer_box_mailbox2{
								width: 1000px;
								height: 200px;
								margin-left: 110px;
								margin-right: 170px;
								/*background-color: #444;*/
							}
							#footer_box_mailbox2 table{
								width: 1000px;
								height: 200px;
								/*background-color: #444;*/
							}
							#footer_box_mailbox2 table tr td{
								width: 166px;
							}
							#rowspan_td{
								padding-bottom: 30px;
							}
							/*#rowspan_td img{
								margin: 5px;
							}*/
							#footer_box_mailbox2 table tr td #td_img{
								opacity: 0;
							}
							#height_td{
								font-size: 20px;
								height: 55px;
								color: #535355;
							}
							#height_td1{
								font-size: 10px;
								height: 25px;
								color: #535355;
							}
							#footer_box_safety{
								margin-top: 15px;
								height: 20px;
								width: 1280px;
								text-align: center;
								font-size: 10px;
								color: #535355;
								/*background-color: #888;*/
							}
							#footer_box_safety img{
								vertical-align: middle;
							}
							#footer_box_term{
								width: 1176px;
								height: 120px;
								/*background-color: #444;*/
							}
							#footer_box_term1{
								width: 1000px;
								height: 100px;
								padding-top: 20px;
								margin-left: 110px;
								margin-right: 170px;
								/*background-color: #999;*/
							}
							#footer_box_term1 #img1{
								width: 1000px;
								height: 25px;
								padding-top: 30px;
								text-align: center;
								font-size: 10px;
								color: #535355;
								/*background-color: #ccc;*/
							}
							#footer_box_term1 #img1 img{
								width: 25px;
								height: 25px;
								vertical-align: middle;
							}
							#footer_box_term1 #img2{
								width: 1000px;
								height: 35px;
								text-align: center;
								padding-top: 10px;
								font-size: 10px;
								color: #535355;
								/*background-color: #ccc;*/
							}
							/*table {
								border: none;
								border-top: 1px solid #f00;
								border-left: 1px solid #f00;  //细线边框
							}
							table tr td{
								border: none;
								border-bottom: 1px solid #f00;
								border-right: 1px solid #f00;  //细线边框
							}*/
.healing-nav{
width: 90%;
margin: 0 auto;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 2rem;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
	color: rgb(153, 153, 153);
	font-size: 1.5rem;
}
.nav-tabs > li {

    float: left;
    margin-bottom: -1px;
    margin-right: 2rem;

}
.tab-content img{
	width: 48%;
	padding-bottom: 2rem;
}
.tab-content .img-right{
	float: right;
}