body{
	margin: 0px;
	padding: 0px;
}
#navigation{
	width: 100%;
	height: 50px;
	background-color: #fff;
}
#navigation_main{
	width: 800px;
	height: 50px;
	/*background-color: #fff;*/
	margin: 0 auto;
}
#navigation_main ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#navigation_main ul li{
	width: 100px;
	height: 50px;
	color: #2B626F;
	text-align: center;
	line-height: 50px;
	/*background: #666;*/
	float: left;
}
#navigation_main ul li:hover #li_box1{
	display: block;
	opacity: 1;
}
#li_box1{
	display: none;
	width: 100%;
	height: 210px;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 228px;
	z-index: 2;
	background-color: #fff;
}
#li_box1 table tr td{
	width: 100px;
	height: 20px;
}
#li_box1_table{
	margin: 0px;
	padding-top: 20px;
	width: 1000px;
	height: 50px;
	font-size: 15px;
	line-height: 10px;
	margin: 0 auto;
	text-align: left;
	color: #000;
}

#navigation_main ul li:hover #li_box2{
	display: block;
	opacity: 1;
}
#li_box2{
	display: none;
	width: 100%;
	height: 480px;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 228px;
	z-index: 2;
	background-color: #fff;
}
#li_box2_table{
	margin: 0px;
	padding-top: 20px;
	width: 1000px;
	height: 400px;
	font-size: 15px;
	line-height: 10px;
	margin: 0 auto;
	text-align: left;
	color: #000;
}
#li_box2_table_tr1{
	width: 333px;
	height: 150px;
}
#li_box2_table_tr2{
	width: 333px;
	height: 40px;
	font-size: 17px;
}
#li_box2_table_tr3{
	font-size: 12px;
}
#navigation_main ul li:hover #li_box3{
	display: block;
	opacity: 1;
}
#li_box3{
	display: none;
	width: 100%;
	height: 255px;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 228px;
	z-index: 2;
	background-color: #fff;
}
#li_box3_table{
	margin: 0px;
	padding-top: 20px;
	width: 1000px;
	height: 170px;
	font-size: 15px;
	line-height: 10px;
	margin: 0 auto;
	text-align: left;
	color: #000;
}
#li_box3_table_tr1{
	width: 333px;
	height: 40px;
	font-size: 17px;
}
#li_box3_table_tr2{
	font-size: 12px;
}
#navigation_main ul li:hover #li_box4{
	display: block;
	opacity: 1;
}
#li_box4{
	display: none;
	width: 100%;
	height: 190px;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 228px;
	z-index: 2;
	background-color: #fff;
}
#li_box4_table{
	margin: 0px;
	padding-top: 20px;
	width: 1000px;
	height: 110px;
	font-size: 15px;
	line-height: 10px;
	margin: 0 auto;
	text-align: left;
	color: #000;
}
#li_box4_table_tr1{
	width: 333px;
	height: 40px;
	font-size: 17px;
}
#li_box4_table_tr2{
	font-size: 12px;
}
#navigation_main ul li:hover #li_box5{
	display: block;
	opacity: 1;
}
#li_box5{
	display: none;
	width: 100%;
	height: 265px;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 228px;
	z-index: 2;
	background-color: #fff;
}
#li_box5_table{
	margin: 0px;
	padding-top: 20px;
	width: 1000px;
	height: 200px;
	font-size: 15px;
	line-height: 10px;
	margin: 0 auto;
	text-align: left;
	color: #000;
}
/*table {
	border: none;
	border-top: 1px solid #f00;
	border-left: 1px solid #f00;  //细线边框
}
table tr td{
	border: none;
	border-bottom: 1px solid #f00;
	border-right: 1px solid #f00;  //细线边框
}*/