.font_title{
	font-size: 35px;
	font-weight: 400;
	color: #808080;
}
.font_whiteone{
	font-size: 40px;
	font-weight: 400;
	color: #fff;
}
.font_whitetwo{
	font-size: 40px;
	font-weight: 800;
	color: #fff;
}