body{
    color: #535355;
}
.mobile-shopping-title {
    margin-top: 60px;
    width: 80%;
    overflow: hidden;
    margin-left: 5%;
}
.mobile-header{
	height: 50px;
}
.active{
	color: #535355;
	font-size: 1.2rem;
	font-weight: 600;
	float: left;
	border-bottom:2px solid #2B626F;
}
.shopping-title-nav{
	color: #E3E3E3;
	font-size: 1.2rem;
	font-weight: 600;
	float: left;
	border-bottom:2px solid #E3E3E3;
	text-indent: 2rem;
}
.shopping-goods{
	text-align: center;
	width: 100%;
}
.shopping-goods h2{
	font-size: 2.4rem;
	color: #535353;
}
.shopping-null{
	margin-top: 2rem;
}
.shopping-null span{
	font-size: 1.2rem;
}
.keep-shopping{
	display: block;
	font-size: 1.2rem;
	color: #535353;
	text-decoration: underline;
	margin-top: 2.2rem;
}
.keep-shopping a:hover{
	color:#535353 ;
	text-decoration: none;
}
.mobile-shopping-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.mobile-footer-call{
	border-top: #DDDDDD solid 1px;
	width: 100%;
	height: 6rem;
	line-height: 6rem;
}
.mobile-payfornow{
	background: #2B626F;
	width: 100%;
	height: 6rem;
	text-align: center;
}
.mobile-payfornow span{
	color: #fff;
	font-weight: 600;
	font-size: 1.6rem;
}
.mobile-payfornow button{
	border: none;
	height: 3.8rem;
	width: 45%;
	margin: 1rem;
	background: #fff;
	margin-left: 15%;
}




.active-submit{
	color: #535355;
	font-size: 1.2rem;
	font-weight: 600;
	float: left;
	border-bottom:2px solid #2B626F;
}
.shopping-title-nav-submit{
	color: #E3E3E3;
	font-size: 1.2rem;
	font-weight: 600;
	float: left;
	border-bottom:2px solid #E3E3E3;
	padding-right: 2rem;
}
.order-submit-content{
	width: 100%;
	overflow: hidden;
}
.order-submit-succes{
	width: 90%;
	height: 3rem;
	font-size: 1.7rem;
	font-weight: 600;
	line-height: 3rem;
	margin: 1rem auto;
	background: #2B626F;
	color: #fff;
	text-align: center;
}
.order-submit-detail{
	width: 85%;
	overflow: hidden;
	margin: 2rem auto;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #535355;
}
.order-sum{
	width: 90%;
	height: 2.5rem;
	background: #f8f8f5;
	margin: 2rem auto;
	text-align: center;
	font-size: 1.7rem;
	font-weight: 600;
	line-height: 2.5rem;
	color: #535355;
	border-top: 1px solid #cbcbcc;
}
.span-order-sum{
	color: #2B626F;
}
.order-payment{
	width: 90%;
	height: 3rem;
	margin: 3rem auto;
}
.a-order-payment{
	text-decoration: underline;
	color: #535355;
	padding-left: 1rem;
	font-size: 1.2rem;
}

.header_logo {
    width: 100px;
    height: 32px;
    margin-top: 18px;
}

.cart_header {
    width: 100%;
    height: 70px;
    background: #292929;
    text-align: center;
}